{
  "plugins": ["transform-es2015-modules-commonjs"],
  "env": {
    "test": {
      "plugins": [
        [
          "module-rewrite-with-root",
          {
            "replaceFunc": "./src/testHelpers/replace-for-testing.js",
            "optionalRoot": "server/"
          }
        ]
      ]
    }
  }
}
